.ant-breadcrumb a {
  color: blue;
}
.seller_info_content img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.ant-menu li {
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

.sticky {
  box-shadow: none !important;
  border: 3px solid rgba(128, 128, 128, 0.497);
  border-radius: 5px;
}
