.menu-navbar {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 8px 0px;
}
.menu-navbar li a {
  color: #62646a;
  font-size: 16px;
  position: relative;
}
.menu-navbar .dropdown-title {
  padding: 10px;
}
.menu-navbar .dropdown-title:hover:after {
  content: "";
  background: #1dbf73;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 200%;
  line-height: 30px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 50;
  padding-top: 20px;
}

/* Links inside the dropdown */
.dropdown-content div a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content div a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content:hover {
  display: block;
}
