/* top-content  */
div.sticky {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  padding: 20px;
  font-size: 20px;
  box-shadow: 0px 5px rgb(136, 136, 136, 0.2);
}
/* top filter  */

.filter-item button {
  margin: 0 6px 0 0;
  color: #222325;
  font-size: 16px;
  font-weight: 550;
  border: 1px solid #dadbdd;
  border-radius: 4px;
  text-decoration: none;
  padding: 6px 12px;

  display: flex;
  justify-items: center;
  align-items: center;
}
.top-switch {
  color: #222325;
  font-size: 16px;
  font-weight: 550;
}
.switch-item {
  display: flex;
}

/* task list  */

.ant-card-body {
  padding: 0px 0px 0px 0px;
}

.task h2 {
  cursor: pointer;
  color: #222325;
  line-height: 22px;
  font-weight: 400;
  height: 43px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 12px 5px;
  margin-top: 5px;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 10px;
}

.task h2:hover {
  color: green;
}
.user-info {
  display: flex;
  gap: 10px;
  margin-top: 12px;
  padding: 0px 5px;
}
.user-info img {
  width: 30px;
  border-radius: 16px;
}
.user-info p {
  font-size: 15px;
  font-weight: bold;
}

.content-info {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  margin-top: 10px;
}
.content-info .rating {
  color: #ffbe5b;
  font-weight: 700;
}
.content-info .rating svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  transform: translateY(3px);
}
.content-info .danhGia {
  color: #b5b6ba;
  font-weight: 400;
  margin-left: 2px;
}
.price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(128, 128, 128, 0.7);
  padding: 10px 20px;
  margin-top: 10px;
}
.price-wrapper .price {
  font-size: 18px;
  line-height: 20px;
  margin-top: 1px;
  color: #404145;
  text-align: right;
}
.price-wrapper .heart svg {
  color: #b5b6ba;
  font-size: 20px;
}
.price-wrapper .heart svg:hover {
  color: red;
  transition: 0.5s;
}

.price .price-text {
  color: #74767e;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  padding: 2px 2px 0 0;
}
.price .price-number {
  font-size: 18px;
  line-height: 20px;
  margin-top: 1px;
  color: #404145;
  text-align: right;
}

.filter-item button {
  margin-right: 20px;
}
