.banner {
  background-image: url("https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/attachments/generic_asset/asset/3f1b7ea10295936b6846bcff0afd38cf-1626595415203/graphics-design-desktop.png");
  background-size: cover;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  padding: 50px;
  color: white;
}

.play-button {
  padding: 10px 5px;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.play {
  border: 1px solid white;
  border-radius: 3px;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play:hover {
  color: black;
  background-color: white;
}

.type-task {
  line-height: 28px;
}
.chiTietLoai {
  line-height: 26px;
  font-size: 18px;
  color: #62646a;
}

.relate-content {
  height: 100px;
  padding: 32px 32px 64px;
}

.relate-content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.relate-content ul li p {
  background-color: #efeff0;
  border-radius: 999px;
  margin: 0 6px 16px;
  padding: 3px 12px;
  color: #74767e;
  font-weight: 800;
  font-size: 14px;
}
.relate-content li p:hover {
  text-decoration: underline;
}
